# Environnement virtuel
.venv/
venv/

# Fichiers d'environnement
.env

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers de distribution
dist/
build/
*.egg-info/

# Fichiers IDE
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db 